* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* design  */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  cursor: pointer;
}

.sc-out {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1;
  overflow: hidden;
}

.logo-img {
  display: block;
  width: 166px;
  height: 71.12px;
  margin: 0 auto;
}

.select-part {
  width: 360px;
  background-color: #fff;
  padding: 31px 27px;
  margin: 0 auto;
}

.item-name {
  font-size: 9px;
  color: #333333;
}

.my-cola {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  grid-auto-rows: minmax(100px, auto);
}

.cola-item {
  width: 94px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px 10px 9px 11px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.cola-item:hover,
.cola-item:focus,
.cola-item:active {
  outline: 3px solid #6327FE;
  white-space: nowrap;
}

.cola-item .item-name {
  margin-top: 6px;
}

.cola-item.sold-out::after {
  content: '';
  display: block;
  position: absolute;
  left: -0.5px;
  bottom: 0.2px;
  background: url(./images/soldOut.svg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 94.5px;
  height: 130px;
  border-radius: 10px;
}


.charge-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 94px;
  grid-template-rows: 33px 33px 106px;
  gap: 11px;
}


.price {
  margin-top: 7px;
  line-height: 1;
  font-size: 12px;
  color: #fff;
  background: #6327FE;
  border-radius: 50px;
  padding: 5px 16px 5px 15px;
}

.balance {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  background: #EAE8FE;
  border-radius: 5px;
  padding: 6px 10px 7px 10px;
  margin: 0 auto;
}

.balance.having {
  width: 306px;
}

.money-btn {
  width: 94px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  padding: 6px;
  border-radius: 5px;
}

.input-money {
  width: 200px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}

.input-money::placeholder {
  font-weight: 500;
  font-size: 13px;
  text-align: right;
  color: #BDBDBD;
}

.input-money[type="text"] {
  font-size: 13px;
  padding: 10px;
}

.get-btn {
  width: 94px;
  height: 106px;
  background: #6327FE;
  border-radius: 5px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.cola-get {
  outline: 1px solid #BDBDBD;
  border-radius: 5px;
  overflow-y: scroll;
  background: #EAE8FE;
  padding-top: 12px;
  padding-left: 12px;
}

.cola-get.min {
  width: 200px;
  height: 106px;
}

.order-item {
  position: relative;
  width: 170px;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.order-item img {
  display: block;
  width: 18px;
}

.order-item .item-name {
  margin-left: 10px;
  width: 73px;
  font-weight: 500;
}


.item-number {
  position: absolute;
  right: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 26.27px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 5px;
}

.balance.having {
  margin-bottom: 6px;
}

.get-wrapper {
  width: 360px;
  height: 474px;
  margin: 0 auto;
  padding: 26px 27px;
}

.get-title {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 13px;
}


.cola-get.wide {
  width: 306px;
  height: 364px;
  padding-right: 10px;
}

.cola-get.wide .order-item {
  width: 100%;
}

.total {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  margin-top: 6px;
}

.getpart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 스크롤바 패딩값  */

::-webkit-scrollbar {
  width: 8px;
  height: 79px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #FFFFFF;
  background-clip: padding-box;
  border: 2px solid transparent;
}


@media (min-width:1000px) {

  body {
    background: #EAE8FE;
  }

  .logo-img {
    width: 386px;
    height: 180px;
    margin: 0 auto;
  }

  .vending-wrapper {
    margin-top: 67px;
  }

  .vending-wrapper::after {
    content: '';
    display: block;
    clear: both;
  }

  .select-part {
    float: left;
    height: 545px;
  }

  .balance.having {
    margin-bottom: 0;
  }

  .having-money {
    width: 360px;
    padding: 9px 27px;
    background-color: #fff;
    margin: 0 auto;
  }

  .get-wrapper {
    background-color: #fff;
    margin: 20px 28px;

  }

  .getpart-wrapper {
    float: right;
  }

}